.App {
  text-align: center;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
button{
  padding: 10px;
  background-color: #86c46c;
  border: none;
  border-radius: 5px;
  color: #fff;
}
button:hover{
  background-color: #6b9f55;
}
